services:
  postgres:
    image: postgres:latest
    container_name: favorite-service-postgres
    environment:
      POSTGRES_USER: favorite_user
      POSTGRES_PASSWORD: favorite_password
      POSTGRES_DB: favorite_db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "1432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - microservices-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U favorite_user -d favorite_db" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - microservices-network
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  microservices-network:
    driver: bridge